body{
    direction: rtl;
    margin: 0px;
}

#topHeader{
    background-color: #455a64;
    color: white;
    position: fixed;
    width: 100%;
    min-width:100%;
}

h6{
    margin: 0px 10px;
    direction: rtl;
}

#downHeader{
    background-color: #607c8a;
    color: white;
}

hr{
    border-color: black;
}

#navTop li{
    display: inline;
    width: 16.6%;
    text-align: center;
}

#number_titles li{
    display: inline;
    /*align-content: center;*/
}

#number_titles{
    display: inline;
    position: relative;
    top: 170px;
    right: 100px;
    color: dimgrey;
}