body{
    direction: rtl;
    margin: 0px;
}

#topHeader{
    background-color: #455a64;
    color: white;
    position: fixed;
    width: 100%;
    min-width:100%;
}

h6, h5, h4, h3, h2, h1 {
    margin: 0px 10px;
    direction: rtl;
}

#downHeader{
    background-color: #607c8a;
    color: white;
}

#navTop li{
    display: inline;
    width: 16.6%;
    text-align: center;
}

#number_titles li{
    display: inline;
    /*align-content: center;*/
}

#number_titles{
    display: inline;
    position: relative;
    top: 170px;
    right: 100px;
    color: dimgrey;
}

.circle {
    width:50px;
    height:50px;
    border-radius:50%;
    font-size:50px;
    color:#fff;
    line-height:500px;
    text-align:center;
    position: relative;
    top: -25px;
    background:#607c8a;
}