body{
    direction: rtl;
    margin: 0px;
    animation-name: appear;
    animation-duration: 2s;
}

#topHeader{
    background-color: #455a64;
    color: #8c9fa1;
    position: fixed;
    width: 100%;
    min-width:100%;
}
/*-----------------------------------------------------------------*/
h6, h5, h4, h3, h2, h1 {
    margin: 0px 10px;
    direction: rtl;
}

#downHeader{
    background-color: #607c8a;
    color: white;
}

#navTop li a{
    color: #8c9fa1;

}

.myBorder{
    position: absolute;
    background-color: #01e475;
    width: 100%;
    height: 5px;
    min-width: 100%;
    margin-top: 20px;
    display: none;
}

#navTop li a:hover + .myBorder{
    display: block;
    text-decoration: none;
}
#navTop li a:hover{
    color: white;
    text-decoration: none;
}

#navTop li{
    display: inline;
    width: 16.6%;
    text-align: center;
}

#topNum{
    margin-right: 95%;
    margin-top: -30px;
    background-color: #01e475;
    /*float: left;*/
    /*position: relative;*/
}
/*---------------------------------------------------------------*/
#number_titles li{
    display: inline;
    /*align-content: center;*/
}

#number_titles{
    display: inline;
    position: relative;
    top: 170px;
    right: 100px;
    color: dimgrey;
}

#number_titles2{
    display: inline;
    position: relative;
    top: 190px;
    right: 100px;
    color: dimgrey;
    list-style-type: none;
}

.circle {
    width:70px;
    height:70px;
    border-radius:50%;
    font-size:50px;
    color:#fff;
    line-height:500px;
    text-align:center;
    position: relative;
    top: -25px;
    background:#607c8a;
}

p{
    color: white;
    width: 0px;
}

.circle h2{
    text-align: center;
    margin-top: 0px;
    padding-top: 25%;
    /*margin-right: 5px;*/
}

#endnum{
    background-color: #01e475;
}
#end{
    color: #01e475;
}

/*ANIMATION*/
@keyframes appear {
    from {margin-top: 100%;}
    to {
        margin-top:0%;}
}